*.sql
*.md

# WordPress Configuration
wp-config.php

# Wordfence Logs
wp-content/wflogs/

# LiteSpeed Cache
wp-content/litespeed/

# Docker
.env
docker-compose.override.yml

# Malicious Plugins (Security)
wp-content/plugins/my-wp-ab-testing1/
wp-content/plugins/my-wp-ab-testing/
