.largefont, .largefont p{font-size:16px;}
.skt-nurse-notice-container{width:100%; padding:15px 0 15px 0;}
.skt-nurse-notice-img{float:left; text-align:left; width:13%;}
.skt-nurse-notice-content{float:left; text-align:left; width:85%; padding-top:33px;}
.skt-nurse-notice-heading{font-size:20px; font-weight:600;}
.skt-nurse-clear{clear:both;}
#accordion-section-example_1 .accordion-section-title:after{display:none; visibility:hidden;}